.main {
	margin-top: 70px;
}

.module {
	max-height: 16.66%;
}

.navbar {
	background-color: #efefef;
	opacity: 50%;
}

.search {
	width: 60%;
	margin-top: 2px;
	padding-left: 20%;
}

.fixed-right {
	position:fixed; right:0;
}

.fixed-left {
	position:fixed; left:0;
}

.body {
	max-height: 420px;
}